---
interface Props {
	title?: string;
}
const { title } = Astro.props;
import background from '../assets/background.svg';

const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title ? `${title} | Trichoderma harzianum` : 'Trichoderma harzianum'}</title>
	</head>
	<body>
		<header>
			<a href="/">Trichoderma harzianum</a>
			<ul>
				<li><a data-active={pathname === '/experiments/1'} href="/experiments/1">Experiment 1</a></li>
				<li><a data-active={pathname === '/experiments/2'} href="/experiments/2">Experiment 2</a></li>
				<li><a data-active={pathname === '/experiments/3'} href="/experiments/3">Experiment 3</a></li>
			</ul>
		</header>
		<main>
			<slot />
		</main>
		<img id="background" src={background.src} alt="" fetchpriority="high" />
	</body>
</html>

<style is:global>
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		align-items: center;
		margin-bottom: 2rem;
	}
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid #ccc;
		gap: 1rem;
		border-radius: 0.5rem;
		margin-top: 0.5rem;
		padding: 0.75rem 1rem;
		width: 100%;
		background: rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(10px);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		max-width: calc(min(960px, 100% - 2rem));
	}

	header ul {
		list-style: none;
		display: flex;
		gap: 1rem;
		margin: 0;
	}

	@media screen and (max-width: 600px) {
		header ul {
			flex-direction: column;
		}
	}

	header a {
		text-decoration: none;
	}

	a {
		color: inherit;
	}

	header a:hover {
		text-decoration: underline;
		text-decoration-style: dotted;
	}

	header a[data-active="true"] {
		font-weight: bold;
	}

	main {
		width: 100%;
		max-width: calc(min(960px, 100% - 2rem));
	}

	img {
		max-width: 100%;
		height: auto;
	}
</style>